.join-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.join-game-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}