.gameover-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    min-width: 16vw;
}

.gameover-header{
    margin:0
}

.gameover-winner{
    background-color: var(--color-primary);
    color: #f0f0f0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin:0.3rem;
    font-size: 2rem;
}